* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin-top: 100px;

  display: flex;
  justify-content: center;
  justify-items: center;
}

.calculator {
  background-color: rgb(59, 57, 57);

  height: 450px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.display {
  background-color: white;
  height: 100px;
  width: 250px;

  padding: 10px;
  align-content: baseline;
}
.clearAndBack button {
  padding: 10px 20px;
}

.calc-rows {
  display: flex;
}

.calc-rows button {
  border: none;
  border-radius: 30px;
  padding: 20px;
  width: 60px;
}
